.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 34px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 28.8px;
  color: #74b49b;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid #74b49b;
  box-shadow: 0 0 5px #74b49b;
}

.WeatherTemperature a {
  color: #74b49b;
  text-decoration: none;
}

.App footer a {
  color: #74b49b;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #81a7a4;
}

.btn {
  background-color: #81a7a4;
  border-color: #74b49b;
}

.btn:hover {
  background-color: white;
  color: #74b49b;
  border-color: #81a7a4;
  transition: 150ms all ease-in-out;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  opacity: 0.7;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.float-left {
  float: left;
}
